body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
}

/* Navbar */
.navbar {
    background: #00796b;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}

/* Title */
h2 {
    text-align: center;
    color: #00796b;
    margin: 25px 0;
}

/* Table */
table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background: #00796b;
    color: white;
}

tr:nth-child(even) {
    background: #f9f9f9;
}

select {
    padding: 5px;
    border-radius: 5px;
}
